// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


#carousel {
    position: relative;
    display: grid; // Para forçar o flexbox, height 100%
    .carousel-list {
        position:relative;
        list-style:none;
        width:100%;
        text-align:center;
        margin: 0;
        padding:0;
        li {
            position:absolute;
            top: 0;
            left:0;
            right:0;                
            padding:0;
            text-align:center;                
            opacity:0;
            visibility:hidden;
            z-index:0;

            // NEEDED FOR PARALLAX and BG IMAGE => Frontend
            min-height: 42em; 
            height: 75vh;

            // PARALLAX SCROLLING EFFECT
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            @include transition(all, 500ms, ease-in);
            &.active {
                display:block;
                position:relative;
                top:unset;
                left:unset;
                right:unset;
                z-index:1;
                opacity:1;
                visibility:visible;               
            }
            &:before {
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }   
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: #000;
                opacity: 0.35;
            }     
        }
    }
    .carousel-dots {
        bottom: 1.5em;
        left: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        line-height: 0;
        z-index: 2;
        li {
            width: 25px;
            height: 25px;
            margin: 10px;
            background-color: rgba(255, 255, 255, 0.3);
            display: inline-block;            
            cursor: pointer;
            border: 3px solid white;
            @include border-radius(75px);
            &.active {                
                background-color: rgba(255, 255, 255, 1);
            }
        } 
    }
    .carousel-title {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        z-index: 2;
        h2 {
            font-weight: 800;
            font-size: 2.75em;
            padding-bottom: 0;
            margin: 0 0 0.5em 0;
            &:after {
                display: none;                    
            }
        }
    }
    a {
        color: #fff;
    }
}

.logo_home_image {
    margin: 0 auto;
    max-width: 400px;
    min-width: 150px;
}

#mission {
    margin: 8rem 0;

    .mission {
        &-slogan {
            padding: 40px;
            margin: auto 0;
            p {
                font-size: 19pt;
                font-style: italic;
            }
        }

        &-photo {
            padding: 0 100px;
            img {                
                height: 600px;
                max-height: 600px;
                @include box-shadow(0px, 0px, 50px, hsla(0, 0%, 0%, 0.8));
            }
        }
    }    
}

#services {
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    .services {
        position: relative;
        padding: 10em 0;
        font-family: $poppins;
        z-index: 2;

        h1, h2, li {
            color: white !important;
        }

        li {
            font-size: 13pt;
            line-height: 1.8;
        }

        .grid__item:nth-child(2) {
            border: 2px solid $green;
        }
        
        &-item {
            padding: 1em;
        }
    }
} 

#reviews {
    .reviews {
        width: 100%;
        margin: 60px auto;
        box-sizing: border-box;

        * {
            box-sizing: inherit;
        }

        &-title {
            margin: 1em 0 1em;
            font-family: $poppins;
            font-weight: 500;
            font-size: 14pt;
            letter-spacing: 4px;
            text-transform: uppercase;
            text-align: center;
        }

        &-container {
            max-width: 1140px;

            margin: 0 auto;
            padding: 0 10px;

            box-sizing: border-box;

            overflow: hidden;

        }

        &-list {
            max-width: 100%;
            text-align: center;
            display: flex;
            align-items: center;

            transition: 0.3s ease-in-out;

            position: relative;
        }

        &-item {
            flex: 0 0 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            &-message {
                font-family: $poppins;
                font-size: 24px;
                font-weight: 500;
                line-height: 2;
                color: #4e4e4e;
                padding: 0 5em;
                margin-bottom: 2em;
            }

            &-info {
                margin-top: 10px;
            }

            &-figure {
                display: inline-block;
            }

            &-image {
                @include border-radius(50%);
                object-fit: cover;
            }

            &-name {
                font-size: 16px;
                color: #262e34;
                font-weight: 600;
                text-transform: uppercase;

                position: relative;
            }
        }

        &-controllers {
            text-align: right;

            &-button {
                padding: 15px;
                border: 1px solid #fff;
                background-color: transparent;

                cursor: pointer;

                outline: 0;

                opacity: .8;
                
                @include border-radius(50%);
                @include transition(all, 200ms, ease-in-out);

                &:hover{
                    border: 1px solid #adadad;
                    opacity: 1;
                }
            }

            &-icon {
                width: 20px;
                height: 20px;

                fill: #262e34;
            }
        }
    }
}


@include large {

    #mission {
        .mission {
            &-photo {
                padding: 0 30px;
            }
        }    
    }

    #services {
        .grid__item {
            padding-top: 15px;
        }
    }
    
    #reviews {
        .reviews {
            &-item {                       
                &-message {
                      font-size: 15px;
                }
            }
        }
    }    
}

@include medium {

    #carousel {
        .carousel-title {
            h2 {
                font-size: 1.75em;
                line-height: 1.25em;
            }
        }
    }

    #mission {
        .mission {
            &-photo {
                padding: 0;
                img {                    
                    height: auto;
                    max-height: none;
                }
            }
        }    
    }   
    
    #reviews {
        .reviews {
            &-container {
                padding: 0;
                margin: 0 10px;
            }
        }
    }
    
}