// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

#about-us {
    margin: 5rem 0;
    h2 {
        position: relative;
        padding-bottom: 0.75em;
        margin: 0 0 0.7em 0;
        &:after {
            border-bottom: solid 2px;
            bottom: 0;
            content: '';
            display: inline-block;
            left: 0;
            position: absolute;
            width: 3rem;
        }
    }
    img {
        padding-left: 100px;
        padding-bottom: 30px;
        max-height: 300px;
    }
}

#services {
    background-color: #f2f2f2;
    height: 1000px;
}

@include large {
    #about-us {
        img {
            padding-left: 0;
            max-height: 400px;
        }
    }
}