@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/budget',
  'layout/footer';

// 5. Components
@import
  'components/button';

// 6. Page-specific styles
@import
  'pages/home',
  'pages/aboutUs',
  'pages/portfolio',
  'pages/contacts';


// -----------------------------------------------------------------------------
// GRID
// -----------------------------------------------------------------------------

// Grid Container
.grid {
    display: flex;
    flex-flow: row wrap;
}

// loop over the breakpoints
@each $key, $value in $breakpoints {
    @for $i from 1 through $items {
        .grid__item--#{$key}-span-#{$i} {
            flex: 0 0 100%;
            @include break($key) {
              flex: 0 0 #{$i / $items * 100%};
            }
        }
    }
}

// -----------------------------------------------------------------------------
// IMG RESPONSIVE
// -----------------------------------------------------------------------------

.img_responsive {
    width: 100%;
    height: auto;
}

// -----------------------------------------------------------------------------
// SIDE NAV MASK
// -----------------------------------------------------------------------------

#side-nav-mask {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    left: 0;
    top: 0;
    opacity: .1;
    visibility: hidden;
    z-index: 9999;
    transition: all 300ms cubic-bezier(.4,0,.2,1);
    transform: translateZ(0);
    &.visible {
        transition-delay: 0;
        visibility: visible;
        opacity: 1;
    }
}

// -----------------------------------------------------------------------------
//FLEXBOX
// -----------------------------------------------------------------------------

.flexbox {
    position: absolute;
    display: table;
    width: 100%;
    min-height: 100%;
    z-index: 2;
    .flexbox_item {
        display: table-cell;
        vertical-align: middle;
    }
}

// -----------------------------------------------------------------------------
// FADE HOVER
// -----------------------------------------------------------------------------

.grey-fade-over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #323232;
    opacity: .7;
    z-index: -1;
}

.white-fade-over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: .5;
    z-index: -1;
}

// -----------------------------------------------------------------------------
// TITLE
// -----------------------------------------------------------------------------

.main-title, .main-subtitle {
    color: white;
    letter-spacing: 1px;
}

.main-title {
    text-transform: capitalize;
    font-weight: initial;
}

.main-subtitle {
    width: 70%;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 500;
}

// -----------------------------------------------------------------------------
// ALIGNS
// -----------------------------------------------------------------------------

.align-right {
    float: right;
}

.align-center {
    text-align: center;
}

.align-left {
    float: left;
}

// -----------------------------------------------------------------------------
// CONTRAST
// -----------------------------------------------------------------------------

.contrast-color {
    color: $green;
}

// -----------------------------------------------------------------------------
// DISPLAY NONE
// -----------------------------------------------------------------------------

.hide {
    display: none !important;
}

// -----------------------------------------------------------------------------
// STYLES
// -----------------------------------------------------------------------------

.style-1 {
    background-color: #FFFFFF; // Branco
}

.style-2 {
    background-color: #F2F2F2; // Cinza
}

.style-3 {
    background-color: #212121; // Cinza Escuro     
}

// -----------------------------------------------------------------------------
// MEDIA QUERIES
// -----------------------------------------------------------------------------

@include large {
    
}

@include medium {
    .main-subtitle {
        width: 100%;
    }
}

@include small {

}
