// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

#goToTop {
    position: fixed;
    color: $dark-grey;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    &:hover {
        i {
            color: $mid-grey;
            top: 0;
            opacity: 1;
        }
    }
    i {
        position: relative;
        @include transition(all, 100ms, ease-in-out);
    }
}

#footer {
    color: white;
    h5 {
        color: #b6b6b6;
        letter-spacing: 1px;
    }
    .footer_header {
        padding: 5em 0 3em;
        .footer_header_item{
            padding-left:3em;
        }
    }
    .footer_footer {
        padding: 2em 0 3em;
        text-align: center;   
        span {
            padding: 0 3em;
            font-size: 11pt;
            letter-spacing: 1px;            
        }     
    }
    ul {
        padding: 0;
        li {
            list-style-type: none;
            font-size: 10pt;
            letter-spacing: 1px;
            line-height: 2.5em;
        }
    } 
    a {
        color: white;
        font-size: 10pt;
        letter-spacing: 1px;
        line-height: 2em;
        border-bottom: 2px solid #212121;
        padding-bottom: 2px;
        @include transition(all, 100ms, ease-in-out);
        &:hover {
            border-color: #fff;
            padding-bottom: 0px;
        }
    }
}
