// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

#budget {
    .parallax-budget { 
        position: relative;

        height: 350px; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1 {                
        color: white;
        font-weight: 800;
        font-size: 2.75em;
        padding-bottom: 0;
        margin: 0;
    }
} 

#footer {
    
    h3, li, a, span {
        color: white;
    }

    h5 {
        color: #b6b6b6;
        letter-spacing: 1px;
    }

    hr.dotted {
        border-top: 3px dashed white;
        border-bottom: 0;
    }

    .footer_header {
        padding: 5em 0 3em;
        .footer_header_item{
            padding: 0 3em;
        }
    }
    .footer_footer {
        padding: 2em 0 3em;
        text-align: center;   
        span {
            padding: 0 3em;
            font-size: 11pt;
            letter-spacing: 1px;            
        }     
    }
    ul {
        padding: 0;
        li {
            list-style-type: none;
            font-size: 10pt;
            letter-spacing: 1px;
            line-height: 2.5em;
        }
    } 
    a {
        font-size: 10pt;
        letter-spacing: 1px;
        line-height: 2em;
        border-bottom: 2px solid #212121;
        padding-bottom: 2px;
        @include transition(all, 100ms, ease-in-out);
        &:hover {
            border-color: #fff;
            padding-bottom: 0px;
        }
    }
}

@include large {
    #budget {
        h1, .grid__item:last-child {                
            text-align: center;
        }
    } 

    #footer {
        .footer_header {
            .footer_header_item{
                padding:0;
            }
        }
    }
}

@include medium {
    #footer {
        .footer_header {
            .footer_header_item{
                padding:0 2em;
            }
        }
    }
}